@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .custom-scrollbar::-webkit-scrollbar {
    width: 2px;
    height: 2px;
    border-radius: 10px;
  }

  .custom-scrollbar::-webkit-scrollbar-track {
    background: lightsalmon;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb {
    background: orange;
    border-radius: 50px;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: white;
  }
}
